:root {
  --ui-accent-color: #4285F4;
  --highlight-txt-color: #21252B;
  --highlight-bck-color: #333842;
}

body {
  margin: 0;
  width: 200px;
  padding: 10px;
  background-color: #fff;
}
h1 {
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  background-color: #ff1c6b;
  transition: .4s;
}
hr {
  border: none;
  border-top: 1px solid #ddd;
  margin-top: -2px;
}
.vertical-box {
  margin-top: 16px;
  position: relative;
}
.box-label {
  color: #555;
  font-weight: bold;
  background-color: #e5e5e500;
  width: 200px;
  padding-bottom: 6px;
}
.color-input {
  font-family: "Lucida Console", Monaco, monospace;
  height: 32px;
  width: 188px;
  margin: 0;
  padding: 0 6px;
  border: none;
  background-color: #ffffff00;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #555;
  font-size: 16px;
  transition: .4s;
}
.color-input.white + .pickr button::after {
  border: 1px solid #ddd;
  box-sizing: border-box;
}
.color-box {
  margin: 0;
  width: 192px;
  height: 32px;
  border: solid 4px #e5e5e5;
}


#highlight-text-color {
  background-color: #ffffff;
}
#highlight-color{
  background-color: #4285F4;
}

#auto-text-check-container {
  position: absolute;
  top: 0;
  right: 0;
}
.style-check {
  margin: 0;
  width: 16px;
  height: 16px;
  display: inline;
  transition: .4s;
  cursor: pointer;
}
.style-check-label {
  color: #555;
  text-align: center;
  display: inline;
  transition: .4s;
}
.setting-check {
  float: right;
}
.setting-label {
  margin-top: -4px;
}
.setting-container {
  margin-bottom: 8px;
}

.info-link-small {
  float: right;
  color: #555;
  text-decoration: none;
  font-size: 9px;
}
.info-link-small:hover {
  text-decoration: underline;
}


.fillet-100 {
  background-color: #e5e5e5;
  width: 200px;
  margin-top: 16px;
}
.footer{
  margin-top: 16px;
}
.ftr-item {
  margin: 0 14px;
  color: var(--ui-accent-color, #4285F4);
  text-decoration: none;
  transition: .4s;
}
.ftr-item:hover {
  text-decoration: underline;
}

input,
textarea,
select {
  outline: none;
}

.ext-version {
  text-align: center;
  color: #777777;
}

/* Exchange button */
#exchange-button {
  width: 20px;
  position: absolute;
  top: -6px;
  right: 0;
  cursor: pointer;
}
.exchange-button-1 {
  stroke: var(--highlight-txt-color, #21252B);
  transition: .4s;
}
.exchange-button-2 {
  stroke: var(--highlight-bck-color, #333842);
  transition: .4s;
}


/*Togle Switch*/
.switch {
  position: absolute;
  right: 0;
  top: -4px;
  display: inline-block;
  width: 41px;
  height: 20px;
}

.switch .switch-check {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff00;
  border: 2px solid #ccc;
  box-sizing: border-box;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 2px;
  background-color: #ccc;
  transition: .4s;
}

.switch-check:checked + .slider {
  background-color: var(--ui-accent-color, #4285F4);
  border: 2px solid var(--ui-accent-color, #4285F4);
}

.switch-check:checked + .slider:before {
  background-color: #fff;
}

.switch-check:focus + .slider {
  box-shadow: 0 0 1px #4285F4;
}

.switch-check:checked + .slider:before {
  transform: translateX(20px);
}

/* Rounded sliders */
.slider {
  border-radius: 20px;
}

.slider:before {
  border-radius: 50%;
}

/* New checkbox */

.check-container {
  float: right;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}
.check-box {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.check-mark {
  position: absolute;
  top: 0;
  right: 0;
  height: 12px;
  width: 12px;
  border-radius: 4px;
  border: 2px solid #ccc;
  transition: all .4s;
}
.check-container .check-box:checked ~ .check-mark {
  background-color: var(--ui-accent-color, #4285F4);
  border: 2px solid var(--ui-accent-color, #4285F4);
}
.check-mark:after {
  content: "";
  position: absolute;
  display: none;
}
.check-container .check-box:checked ~ .check-mark:after {
  display: block;
}
.check-container .check-mark:after {
  left: 3px;
  top: 0px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
