body {
  margin: 0;
  width: 200px;
  padding: 10px;
  background-color: #fff;
}
h1 {
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  background-color: #ff1c6b;
}
hr {
  border: none;
  border-top: 1px solid #ddd;
  margin-top: -2px;
}
.vertical-box {
  margin-top: 16px;
  position: relative;
}
.box-label{
  color: #555;
  font-weight: bold;
  background-color: #e5e5e500;
  width: 100px;
  padding-bottom: 6px;
}
.color-input {
  font-family: "Lucida Console", Monaco, monospace;
  height: 32px;
  width: 188px;
  margin: 0;
  padding: 0 6px;
  border: none;
  background-color: #ffffff00;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #555;
  font-size: 16px;
}
.color-box {
  margin: 0;
  width: 192px;
  height: 32px;
  border: solid 4px #e5e5e5;
}
.color-picker-txt{
  position
}


#highlight-text-color{
  background-color: #ffffff;
}
#highlight-color{
  background-color: #4285F4;
}

.style-check-container {
  position: absolute;
  top: 0;
  right: 0;
}
.style-check {
  margin: 0;
  width: 16px;
  height: 16px;
  display: inline;
  transition: .4s;
}
.style-check-label {
  color: #555;
  text-align: center;
  display: inline;
  -webkit-transition: .4s;
}
.fillet-100 {
  background-color: #e5e5e5;
  width: 200px;
  margin-top: 16px;
}
.footer{
  margin-top: 16px;
}
.ftr-item {
  margin: 0 14px;
  color: #ff1c6b;
  text-decoration: none;
}
.ftr-item:hover {
  text-decoration: underline;
}

input,
textarea,
select {
  outline: none;
}

.ext-version {
  text-align: center;
  color: #777777;
}


/*Togle Switch*/
.switch {
  position: absolute;
  right: 0;
  top: -4px;
  display: inline-block;
  width: 41px;
  height: 20px;
}

.switch .switch-check {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff00;
  border: 1px solid #aaa;
  box-sizing: border-box;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 3px;
  background-color: #aaa;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch-check:checked + .slider {
  background-color: #4285F4;
  border: 1px solid #4285F4;;
}

.switch-check:checked + .slider:before {
  background-color: #fff;
}

.switch-check:focus + .slider {
  box-shadow: 0 0 1px #4285F4;
}

.switch-check:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider {
  border-radius: 20px;
}

.slider:before {
  border-radius: 50%;
}
