body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

::selection {
  background: #005AFF6B;
  color: #005AFF;
}
::-moz-selection {
  background: #005AFF6B;
  color: #005AFF;
}

h1 {
  margin-top: 0px;
  width: 100%;
  text-align: center;
}
p {
  margin: auto;
  padding: 10px;
  max-width: 520px;
  border-radius: 7px;
  font-size: 16px;
}
.box1 {
  background: #E4EEFF;
  border: 3px solid #4285f4;
  color: #4285f4;
}
b {
  font-size: 18px;
}

.head-align {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  margin-top: 20px;
}

#Store-Badge-Align {
  max-width: 1000px;
  margin: auto;
}

.abs {
  width: 100%;
  position: absolute;
  z-index: 2;
}

.badge {
  border-radius: 7px;
  border: 1px solid #E5E5E5;
}

a {
  color: #4285F4;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
#andreto-site-a{
  font-size: 18px;
  position: fixed;
  bottom: 0;
  background-color: #ffffff00;
  text-decoration: none;
  width: 100%;
  padding: 20px;
}

.google-form{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
}
